<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
<style>
	body{
		background-color: 	#FFF0F5;
		}
</style>
  </head>

<body>
<br/>

<p> <h3 style="color: #DC143C" >HAKKIMIZDA</h3> </p>
<p><b><font size="3">Haber sitemiz;</b> Spor hakkında güncel haber sunmak ve internet kullanıcısının habere ulaşmasını kolaylaştırmak için oluşturulmuş bir haber portalıdır.</font></p>

<h4>İlkelerimiz</h4>
<p><b><font size="3">Tarafsız Habercilik:</b> Sitemizde yayınlanan haberlere konu olan olaylara veya haberlerde adı geçen kişilere tam bir tarafsızlık içinde yaklaşmaktayız. Biz haberi okura ulaştıran "aracı" olarak, hiç bir haberin anlamını değiştirmemeyi ve hiç bir haberi manipüle etmemeyi ilke edinmiş bulunuyoruz.</font></p>
 
<p><b><font size="3">Mimiksiz Habercilik:</b> Okurlarımıza sunduğumuz haberlerin içeriğinin "iyi haber / kötü haber", "müjdeli haber / kara haber" olması ile ilgilenmiyoruz. Haberi sunarken, okura "şimdi sevinmelisin" veya "şimdi üzülmesin" havası ile sunmuyor; yalnızca gerçeği, yalnızca olanları, aktarıyoruz. Bir haberin okurda ne tür duygular uyandıracağı okurun karar vereceği bir konudur.</font></p>
 
<p><b><font size="3">Açıklık:</b> Herhangi bir gerçeğin ve herhangi bir olayın kenara itilmemesi, bilinçli veya bilinçsiz bir şekilde minik puntolarla bir kenara atılarak gözden saklanmaması gerektiğini savunuyoruz. Her ne olduysa ve her ne olay haber niteliği taşıyorsa bizim konumuzdur ve okurun bunu bilmeye öğrenmeye hakkı vardır. Hiç bir haberi saklamayacağız, küçültmeyeceğiz, gözden kaçırmayacağız.</font></p>
 
<p><b><u><font size="3">Hüküm Veren</u> Değil, <u>Postacı</u> Habercilik:</b> Bizler, haberi aktaran kişiler olarak görevimizin; okurları yönlendirmek veya habere konu olay ile ilgili girişimlerde bulunmak olmadığını düşünüyoruz. Daha açık bir ifade ile, ne Türkiye'yi yöneten herhangi bir kişi veya kurumu etkilemeyi, ne de halkı haberin gücünü kullanarak yönlendirmeyi düşünmüyoruz. Bizler postacıyız. Görevimiz postayı alıcısına zamanında ulaştırmaktır. Bunun dışında "halkı aydınlatmak", "halka yol göstermek", "hükumeti yola getirmek", "toplumu düzeltmek" gibi görevlerimiz yoktur.</font></p>
</body>