<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">

<p style="color: red"><font size="6">Beşiktaş kafilesi Bursa'ya geldi!</font></p>
<p>Beşiktaş, Nevzat Demir Tesisleri'nde gerçekleştirdiği son antrenmanla Bursaspor maçının hazırlıklarını tamamlayarak akşam saat 20.00’da Bursa’ya hareket etti.
Siyah-Beyazlı kafile, yoğun güvenlik tedbirleri altında kara yolu ile saat 22.00 sıralarında Bursa’da konaklayacağı otele gelirken, az sayıda taraftar da takımı karşıladı. Beşiktaş'ta yeni transferler Adem Ljajic ve Loris Karius da Bursaspor maçının kadrosuna yer aldı.<br/>
<div class="container">
<%= image_tag("besiktashaberleri/bursaspor.jpg", :size => "1000x400") %><br/>
</div><br/>
Teknik direktör Şenol Güneş'in Bursaspor maçı kadrosuna dahil ettiği 23 futbolcu şöyle:<br/>

Loris Karius, Utku Yuvakuran, Gökhan Gönül, Enzo Roco, Pepe, Domagoj Vida, Fatih Aksoy, Adriano Correia, Caner Erkin, Gary Medel, Necip Uysal, Tolgay Arslan, Oğuzhan Özyakup, Dorukhan Toköz, Ricardo Quaresma, Jeremain Lens, Adem Ljajic, Gökhan Töre, Ryan Babel, Güven Yalçın, Alvaro Negredo, Cyle Larin, Vagner Love. <br/>

Yarın saat 21.45'te Bursa Büyükşehir Belediye Stadyumu'nda oynanacak maçta Beşiktaş, Bursaspor'un konuğu olacak.
</p>
</div>
</body>
</html>