<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Süper Lig puan durumu 4. hafta. Lider değişti mi?</font></p>
<p>Spor Toto Süper Lig'de 4. hafta heyecanı yaşanıyor. Haftanın önemli maçlarında Fenerbahçe sahasında Kayserispor'a 3-2 mağlup oldu. Bir başka önemli maçta ise Trabzonspor Galatasaray'ı 4-0 ile geçti. Haftanın diğer önemli maçlarında Beşiktaş deplasmanda Bursaspor ile karşılaşacak. Medipol Başakşehir ise haftanın kapanış mücadelesinde Erzurumspor'a konuk olacak. İşte Spor Toto Süper Lig 4. hafta maç sonuçları, puan durumu ve Süper Lig 5. hafta puan durumu...<br/>
<div class="container">
	<%= image_tag("besiktashaberleri/puan.jpg", :size => "1000x400") %><br/>
</div><br/>
Spor Toto Süper Lig'de 4. hafta maçları büyük sürprizlere sahne oluyor. Fenerbahçe sahasında karşılaştığı Kayserispor'a 3-2 mağlup oldu. Haftanın flaş skoru ise Trabzon'da çıktı. Trabzonspor taraftarı önünde Galatasaray'ı 4-0 ile geçti. Haftanın diğer önemli maçlarında Beşiktaş deplasmanda Bursaspor ile karşılaşacak. Medipol Başakşehir ise haftanın kapanış mücadelesinde Erzurumspor'a konuk olacak. İşte Spor Toto Süper Lig 4. hafta maç sonuçları, puan durumu ve Süper Lig 5. hafta puan durumu... 
</p>
</div>
</body>
</html>