<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Loris Karius: "Vodafone Park'ta mükemmel bir atmosfer var"</font></p>
<p>Beşiktaş'ın Liverpool'dan 2 yıllığına kiralık olarak kadrosun kattığı Loris Karius, kulüp dergisine açıklamalarda bulundu.
Beşiktaş'ın Liverpool'dan 2 yıllığına kiralık olarak kadrosun kattığı Loris Karius, kulüp dergisine açıklamalarda bulundu.<br/>

<div class="container">
	<%= image_tag("besiktashaberleri/vodafone.jpg", :size => "900x400") %><br/>
</div><br/>
Alman kaleci, "Hayat ve futbol içerisinde benzer şeyler var; güzel anlar, kötü anlar, hatalar, olumlu-olumsuz deneyimler ve güzellikler... İşte tüm bunlar yaşamı da, sporu da anlamlı kılıyor. Hatalarımızla ve iyi anlarımızla bir bütünüz. Örneğin Liverpool'un formasını giyerken Şampiyonlar Ligi finalinde belki şanssızdım ama kaç tane kaleci finale kadar gelebilmeyi yaşayabilmiştir ki?" dedi.<br/>

Futbolda daime ileriye bakmanın gerekliliğini vurgulayan 25 yaşındaki kaleci, "Bazen şans yanınızdadır bazen de şanssızlık yakanızı bırakmaz. Ama önemli olan, tüm bunların yaşamı ve futbolu oluşturan doğal şeyler olduklarını idrak etmek ve hep geleceğe odaklanmak. Eğer geçmişe takılıp kalacaksanız futbol size uygun bir meslek değildir. Daima ileriye bakmak gerekir. Hele bir kaleci için bu daha da önemlidir. Pes etmemek, dik durabilmek ve geleceğe odaklanmak. Benim futbol anlayışım bu şekilde..." ifadelerine yer verdi.</p>

<p><b>"PENALTI ANI, EN TUHAF ANDIR"</b></p><br/>

<p>Bir kaleci için en tuhaf anın penaltı anı olduğunu söyleyen Karius, "Her kaleci o gerilimli anla başa çıkabilmek için farklı yöntemler geliştirir. Bir kaleci için en tuhaf anlardan biridir penaltı anı hakikaten de, dezavantajlı görünen, bir kaleci olarak sensindir, tüm stat sana odaklanır. Tabii vuruşu yapan rakip futbolcu ile topa da odaklanılır ama kalecinin pozisyonunun ve kaderinin en pamuk ipliğine bağlı olduğu bir andır penaltı anı" diye konuştu.<br/></p>

<p><b>"VODAFONE PARK, MÜKEMMEL BİR ATMOSTER"</b>

Vodafone Park'ın dünyanın en iyi statları arasında olduğunu belirten Alman kaleci, açıklamalarını şu şekilde sürdürdü:<br/>

<br>"Vodafone Park mükemmel bir atmosfer; şu anda boş olmasına rağmen çok etkileyici buldum burayı... Taraftar ile yeşil sahanın bu kadar yakın olması çok iyi. Bu stadın dünyanın en iyi statları arasında olduğunu zaten biliyordum. Şimdi içinde olmak da harika..."</p>
</div>
</body>
</html>

