<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">İşte Burak Yılmaz - Beşiktaş anlaşmasını yatıran detay!</font></p>
<p>Beşiktaş, golcü futbolcunun transferi için hem kulübü Trabzon ile hem de kendisi ile anlaştı. Ancak bordo-mavili ekibin 2.5 milyon euroluk bonservis bedelini pazartesi günü peşin olarak verilmesini istemesi ipleri kopardı. Kartal, bunun üzerine transfer defterini kapattı.
Teknik Direktör Şenol Güneş’in ısrarla istediği Burak Yılmaz’ın transferi bonservis bedelinde çıkan kriz nedeniyle yattı. <br/><br/>

	<%= image_tag("besiktashaberleri/burakyilmaz.jpg", :size => "1000x400") %><br/><br/>

Beşiktaş, kıran kırana pazarlıklar sonrası golcü futbolcunun transferi için hem kulübü Trabzonspor ile hem de kendisi ile anlaşma sağladı. Ancak bordo-mavili ekibin 2.5 milyon euroluk bonservis bedelini pazartesi günü peşin olarak verilmesini istemesi iplerin bir anda kopmasına neden oldu. Başkan Fikret Orman’ın Trabzonspor’dan süre istediği ve vadeli olarak ödemenin yapılmasını talep ettiği öğrenildi. Trabzonspor ise Beşiktaş başkanının bu teklifini geri çevirdi. Bunun üzerine Beşiktaş, Burak Yılmaz’ı almaktan vazgeçti ve transfer defterini kapattı. 
"TERCİHİM TRABZON"<br>

Burak Yılmaz bu gelişmelerin ardından transfer süreciyle ilgili sosyal medya hesabından açıklamada bulundu. Tecrübeli golcü, “Beşiktaş Kulübüne yaptığı teklif için teşekkür ederim. Fakat ben Trabzon-spor’da kalmayı tercih ediyorum” ifadelerini kullandı.
</p>
</div>
</body>
</html>