<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Loris Karius: İz bırakmak istiyorum!</font></p>
<p>Kartal’ın yeni 1 numarası Karius, Beşiktaş'ta iz bırakmak istiyorum dedi ve ekledi: “İngiltere benim için geçmişte kaldı. Liverpool formasıyla İngiltere’de bir iz bırakabilmiş olmaktan dolayı mutluyum. Artık yeni bir sayfa açma zamanı. Beşiktaş’ta iz bırakmak istiyorum. Bu güzel ülkenin, Beşiktaş’ın bir parçası olmaya odaklandım”
Beşiktaş’ın Premier Lig takımlarından Liverpool’dan 2 yıllığına kiraladığı Alman kaleci Loris Karius, İngiltere’nin kendisi için geride kaldığını, Siyah-Beyazlı kulüpte her futbolcuyu mutlu edebilecek bir ortam olduğunu belirtti. Kulübün resmi yayın organlarından Beşiktaş dergisinin eylül sayısına açıklamalarda bulunan Karius, “İngiltere benim için geçmişte kaldı. Liverpool taraftarına da teşekkür etmek isterim. Onlara minnettarım. Çünkü kulüpten ayrılırken bana bir hayli vefakar davrandılar. Bu bir futbolcu için çok önemlidir. Orada bir iz bırakabilmiş olmaktan dolayı mutluyum. Artık yeni bir sayfa açma zamanı. Beşiktaş’ta iz bırakmak istiyorum. Bu güzel ülkenin, Beşiktaş’ın bir parçası olmaya odaklandım” ifadelerini kullandı. <br/>

<div class="container">
	<%= image_tag("besiktashaberleri/loris.jpg", :size => "1000x400") %><br/>

<b>‘İyi ki buradayım’</b><br/>

​Siyah-Beyazlı taraftarların kendisine sosyal medyada gösterdiği ilgiye değinen 25 yaşındaki file bekçisi, “Burada her futbolcuyu mutlu edebilecek bir ortam var. Beşiktaş taraftarı sosyal medyadan, ’#cometobesiktas’ diyerek beni de saflarına davet ettiğinde çok duygulanmıştım. Eminim ki böyle bir durumda her oyuncu güçlü duygular hisseder ve Beşiktaş’a dair daha fazla aidiyet duygusu taşır. Beşiktaş’a transferim yolunda beni motive ettikleri için sevinçliyim. Umarım ben de sahada onları mutlu edebilirim. Tüm bunların yanı sıra, yöneticilerimizin benim Beşiktaş’a transferim konusundaki ısrarlı tutumu da şu an burada olmamı sağladı. İyi ki de böyle oldu. Beşiktaş’ta olmaktan dolayı sevinçliyim” dedi.</p>
</div>
</body>
</html>