<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Adem Ljajic Sosa - Talisca karışımı...</font></p>
<p>Uzaktan etkili şutları ve büyülü ara pasları bulunan Adem Ljajic, serbest atışlarda da kalecileri çaresiz bırakan bir usta. Oyun zekası ve sahadaki disipline bağlılığıyla tam da Şenol Güneş’in aradığı beyin.

Beşiktaş durdu durdu turnayı son günde gözünden vurdu. Sosa’nın gidişinden sonra Talisca’yı getirerek bu boşluğu dolduran Siyah-Beyazlılar, Brezilyalı yıldızın sezon başında ayrılmasıyla forvet arkasında oynayabilecek bir yetenek için çalışıyordu. Uzun uğraşlar sonunda Sırp vatandaşı olan Müslüman oyuncu Adem Ljajic ve kulübü Torino ile anlaşma sağlandı ve beklenen yıldız dün İstanbul’a geldi. Tecrübeli oyuncu Ljajic, Türkiye’de çok tanınan bir isim olsa da, onun hakkında futbol otoritelerinden derlediğimiz yorumları bir kez daha buraya not düşelim.<br/> 

<b>KARİYERİNDE TEK KIRMIZI VAR!</b><br/>

Adem Ljajic, Sosa ve Talisca karışımı bir yıldız olarak tanımlanabilir. Duran toplarda ve ara paslarda tam bir sihirbaz. Orta sahada oyunu dikine oynayan ve yöneten Sırp oyuncu, bire birde adam eksiltme konusundaki ustalığıyla da bu alanda tam bir orkestra şefi gibi çalışıyor. Oyun disiplinine sadık kalmasıyla teknik adamların en çok tercih ettiği özelliklere sahip yıldızlardan biri. Ayrıca sahada çok sakin. Futbol kariyerinde gördüğü tek bir kırmızı kart var. O da Roma’da oynarken ikinci sarıdan gördüğü kart. <br/>

<b>FUTBOLUNUN EN OLGUN DÖNEMİ</b><br/> 

Asıl görevi 10 numara olsa da kanatlarda oynayabilen çok yönlü bir isim olan Adem Ljajic, uzaktan şutlarıyla da kalecilerin korkulu rüyası. İnatçı ve karakterli bir oyuncu olarak dikkat çeken Ljajic, futbolunun en olgun döneminde Beşiktaş’a geliyor. Talisca gibi kafa toplarında etkili olmasa da birçok özelliği Brezilyalı yıldızdan üstün. Gol atmaktan çok attırmayı seven Adem’in bu özelliği istatistiklerinde de rahatlıkla görülebiliyor.  
</p>
</div>
</body>
</html>