<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Fikret Orman: "Yenilenmiş bir yönetim kurulu oluşturmak gerektiği inancındayım"</font></p>
<p>Beşiktaş Kulübü Başkanı Fikret Orman, 16 Eylül Pazar günü yapılacak olağanüstü genel kurulda dinamik, motivasyonu yüksek ve yenilenmiş bir yönetim kurulu oluşturmaları gerektiğini belirtti.
Beşiktaş Kulübü Başkanı Fikret Orman, 16 Eylül Pazar günü yapılacak olağanüstü genel kurulda dinamik, motivasyonu yüksek ve yenilenmiş bir yönetim kurulu oluşturmaları gerektiğini belirtti.<br/>

Fikret Orman, Beşiktaş dergisinin eylül sayısında yer alan yazısında, göreve geldiklerinden bu yana çok çalışarak siyah-beyazlı kulübün tarihindeki yatırımdan daha fazlasını yaptıklarını ifade etti.<br/>

Kulübün marka değerini yükseltmeyi başardıklarını belirten Orman, "Geçtiğimiz ay divan kurulumuzda da dile getirdikten sonra yönetim kurulumuz ile bir araya gelip seçime gitme kararı aldık. Dinamik, motivasyonu yüksek ve yenilenmiş bir yönetim kurulu oluşturmak gerektiği inancındayım. Daha diri ve heyecanlı bir yönetim kurulu ve elbette ki sizlerin desteği bizi başarıya taşıyacak en önemli etken olacaktır." değerlendirmesinde bulundu.<br/>

Spor Toto Süper Lig’de 2 galibiyet ve 1 mağlubiyet yaşayan, UEFA Avrupa Ligi’nde ise gruplara kalan siyah-beyazlı futbol takımı hakkında da değerlendirmede bulunan Fikret Orman, şunları kaydetti:<br/>

"Ağustos ayı özellikle Beşiktaşımız için futbol dolu geçti. Ligde de üç maçı geride bıraktık.Özellikle evimizde, Vodafone Park’ta oynadığımız karşılaşmalarda büyük taraftarımızın takımımıza pozitif destekleri çok önemli. Haftalar ilerledikçe takımımızın, bütün Beşiktaşlıların gururu olacağına hiç kuşkum yok. Fakat henüz lig ve Avrupa maratonunun en başında olduğumuzu unutmamalıyız. Başarıya ulaşmak için daha önümüzde uzun bir yol var. Bunun bilincinde olarak hareket etmeli ve sabırlı olmalıyız. Tribünlerimizi her maçımızda aynı coşku ve heyecanla görmek istiyorum."
</p>
</div>
</body>
</html>