<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">
<p style="color: red"><font size="6">Beşiktaş'ta Karius ve Ljajic kadroda!</font></p>
<p>Beşiktaş Teknik Direktörü Şenol Güneş, yeni transferler kaleci Karius ile Ljajic'i Bursaspor kadrosuna aldı.
Beşiktaş, Spor Toto Süper Lig’in 4. haftasında Bursaspor ile yarın oynayacağı maç için kara yolu ile Bursa'ya gitti. <br/>

Teknik Direktör Şenol Güneş, Bursaspor maçı kadrosuna 23 futbolcumuzu dahil etti. Tecrübeli teknik adam yeni transferler Karius ve Ljajic'i de kadroya dahil etti. Bursa kafilesinde şu oyuncular yer alıyor: <br/>

"Loris Karius, Utku Yuvakuran, Gökhan Gönül, Enzo Roco, Pepe, Domagoj Vida, Fatih Aksoy, Adriano Correia, Caner Erkin, Gary Medel, Necip Uysal, Tolgay Arslan, Oğuzhan Özyakup, Dorukhan Toköz, Ricardo Quaresma, Jeremain Lens, Adem Ljajic, Gökhan Töre, Ryan Babel, Güven Yalçın, Alvaro Negredo, Cyle Larin, Vagner Love." 
</p>
</div>
</body>
</html>