<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">
<p style="color: red"><font size="6">"Facia bir antrenörlük performansı!"</font></p>
<p>Yazarımız ve spor yorumcusu Serkan Akcan, Fenerbahçe'nin Kadıköy'de Kayserispor'a 3-2 yenildiği karşılaşmayı kaleme aldı. İşte Akcan'ın yazısından bir bölüm...<br/>

Rakibin hocası Hollandalı olunca, sahaya Eredivise takımı gibi çıkan Ertuğrul Sağlam’ın hakkını teslim ederek başlamak lazım. Deniz, Chery, Umut ve Bilal’li forvet hattı Kadıköy’de harika iş çıkardı. Ama Sağlam’ın işini kolaylaştıran Cocu’ydu ve facia bir antrenörlük performansına imza attı. Takımı yönlendirmek, oyunu yönetmek Reyes’in işi mi? Meksikalı, ilk yarıda sadece 15 kez topla buluşarak sahanın toptan en uzak oyuncusu olmuşken bunda ısrar etmek sonun başlangıcıydı. Reyes’in çakılı orta saha oyunu yüzünden Fenerbahçe için dönen toplar büyük krize yol açtı. Yüksek topa vurdun vurdun, vuramadın herkes geri koşacak. Bu kadar koş koş oyununa efor yetmez, o yüzden Fenerbahçe’nin pili erken bitti. Maçın son 25 dakikalık bölümünde Cocu’nun Ekici-Frey değişikliğiyle 4-1-3-2’ye dönüşü de anlaşılmazdı. Reyes, Skrtel, Roman aynı anda sahadayken 3-5-2’yi düşünmemesi şaşırtıcıydı. Zira Reyes’in olduğu merkez resmen çöktü ve Kayseri sezonun en rahat hücumlarını yaptı. ‘3 santrfor hiç santrfordur’ önermesinin gerçekliğini de öğrendik, bunu da Cocu öğretti bize.
</p>
</div>
</body>
</html>