<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    </style>
  </head>

<body>
<div class="container">

<p style="color: red"><font size="6"> Fenerbahçe soyunma odasında toplantı yapıldı</font></p>
<p>Kayserispor'a yenilerek üst üste 3. yenilgisini alan Fenerbahçe'de moraller bozulurken karşılaşmanın ardından jet bir toplantı gerçekleşti.</p>
<%= image_tag("resim/fener12.jpg", :size => "1000x400") %><br/>
<br/>
<p>HABERTÜRK'ten Ahmet Selim Kul'un haberine göre üzgün bir şekilde soyunma odasına giren futbolcular uzun süre içeriden çıkmadı. Teknik direktör Philip Cocu ve öğrencilerinin burada bir toplantı gerçekleştirdikleri öğrenildi. Yeni transferlerden Jailson'un kadroda olmamasına rağmen bu toplantıya çağrılması da dikkatlerden kaçmadı.</p>
</div>
</body>
</html>