<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">
<p style="color: red"><font size="6">Cocu'ya büyük tepki</font></p>
<p>Fenerbahçe, Spor Toto Süper Lig'in 4. haftasında Kayserispor'a 3-2 mağlup oldu. 9 yıl sonra ilk kez üst üste 3 lig maçında kaybeden Fenerbahçe böylece 3 puanda kaldı. Öte yandan Fenerbahçe, Süper Lig tarihinde dördüncü haftalar itibarıyla en kötü başlangıç yaptığı sezonu egale etti. Sarı-Lacivertli taraftalar, Hollandalı teknik direktör Cocu'ya tepki gösterdi. İşte Twitter'da yazılanlar:<br/>
	<div class="container">
<%= image_tag("resim/coco.jpg", :size => "1000x400") %><br/>
</div><br/>
- Fenerbahçe'nin Cocu ile işi çok zor. Türkiye Ligi'ni hiç ama hiç anlayamamış. Bu lig bir orta saha ligidir. İyi bir orta sahan varsa rakiplerine üstünlük sağlarsın. Reyes'i önlibero oynatmak felaket bir tercihti. Yenilgi sadece ama sadece Cocu'ya yazar.<br/>
- Rıdvan Dilmen: "Cocu, Türkiye ligini çok hafife almış. O işler öyle değil. Birisinin Türkiye dinamiklerini anlatması lazım ona."<br/>
- Ali Koç eğer zerre kadar Fenerbahçe 'yi düşünüyorsa bu gece Cocu 'yu gönderir.<br/>
- 2 haftalık milli maç arasında Cocu'ya Türkiye ligi tekrardan anlatılmalı..<br/>
- Fenerbahçe’nin bu orta saha ve tabii ki Cocu ile işi çok zor<br/>
- Fenerbahçeli olarak Ligde 3 maç üstüsre kaybettiğimizi hatırlamıyorum! Sabra filan gerek yok. <br/>
- Eğri oturup doğru konuşalım. Cocu ile olmayacak gibi. Tek çare Ersun Yanal! Bu sene zaten pek beklentimiz yok ama Fenerbahçe'nin forması ilk 2'ye oynar!<br/>

- Sadece bu maç değil tüm Benfica maçları da dahil hepsi Cocu'ya yazar.<br/>
</p></div></body></html>