<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">

<p style="color: red"><font size="6">Fenerbahçe'nin şampiyonluk yarışına girmesinin zor olduğunu ifade <br/>  eden Rıdvan Dilmen, "Fenerbahçe toparlar, bu kadro çok kötü  bir <br/>  kadro değil." dedi.</font></p>
<p>Fenerbahçe, Süper Lig'in 4. haftasında Ülker Stadyumu'nda Kayserispor'u konuk ediyor. Fanatik Gazetesi hakem yorumcusu Deniz Çoban, 1-0 Fenerbahçe'nin üstünlüğüyle sonuçlanan ilk yarıyı değerlendirdi.
Spor Toto Süper Lig'in 4. haftasında Fenerbahçe, sahasında Kayserispor'u konuk ediyor. Sarı-lacivertliler karşılaşmanın ilk yarısında soyunma odasına 1-0 üstün gitti.<br/>

Fenerbahçe-Kayserispor karşılaşmasını hakem Ümit Öztürk yönetiyor. Fanatik Gazetesi hakem yorumcusu Deniz Çoban, maçın ilk yarısında yaşanan tartışmalı pozisyonları değerlendirdi.<br/>

Deniz Çoban, 45+1'de Slima'nin Rotman'a yaptığı faulün sarı kart olması gerektiğini ifade etti.<br/>

Deniz Çoban, "Sarı kartın dahi sınırları zorlayan 'kırmızı kart' diyenlere bile itiraz etmeyeceğimiz bir faul yaptı. Daha önce de sarı kartı olan Slimani'nin ikinci sarı karttan oyundan ihracı gerekirdi" ifadelerini kullandı.
</p>
</div>
</body>
</html>