<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">

<p style="color: red"><font size="6">Ayew ilk golünü attı!</font></p>

<%= image_tag("resim/andreayew.jpg", :size => "700x300") %><br/><br/>

<p>Fenerbahçe’nin yeni transferi Andre Ayew sarı-lacivertli formayla ilk golünü Kayserispor karşısında attı.
13. dakikada sol kanatta topla buluşan Hasan Ali’nin ceza sahası içine açtığı ortada Ayew yaptığı kafa vuruşuyla topu ağlara gönderdi.<br/>

<p>Andre Ayew golü attıktan sonra sevincini kale arkasındaki taraftarlarla paylaştı.</p>
</p>
</div>
</body>
</html> 