<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">

<p style="color: red"><font size="6">Fenerbahçe, tarihinin en kötü başlangıcını yaptı!</font></p>

<p>Spor Toto Süper Lig'in ilk 3 haftasında sadece 3 puan toplayabilen Fenerbahçe, Evkur Yeni Malatyaspor ve Göztepe'den sonra Kayserispor'a da yenildi. İlk 4 haftada 3 yenilgi alan Fenerbahçe, Spor Toto Süper Lig'de tarihinin en kötü sezon başlangıcını yaptı. Fenerbahçe tarihinin üçüncü Hollandalı çalıştırıcısı olan Phillip Cocu, vatandaşları Guus Hiddink ve Dick Advocaat'tan da kötü bir başlangıç yaptı
Spor Toto Süper Lig'de dün Kayserispor'a sahasında 3-2 yenilen sarı-lacivertliler, ilk 4 maçında 3 mağlubiyet alarak adeta kabusu yaşadı.

Lige 2-1'lik Bursaspor galibiyetiyle başlayan Fenerbahçe, ardından Evkur Yeni Malatyaspor (0-1), Göztepe (0-1) ve Kayserispor (2-3) karşılaşmalarını kaybederek tarihinin en kötü sezon başlangıcına imza atmaktan kurtulamadı.

Kayserispor önünde, ligde üst üste üçüncü yenilgisi alan Fenerbahçe, 61. sezonunu geçirdiği ligde bir ilki yaşamış oldu.</p>

<%= image_tag("resim/fenerhaber.jpg", :size => "1000x400") %><br/>


<p><b>BENZERİ YOK</b><br/>

Fenerbahçe, 61. kez mücadele ettiği Süper Lig'de daha önce buna benzer bir başlangıç yapmadı.

Sarı-lacivertliler, bu sezondan önce en kötü 4. hafta performansını 1965-1966, 1987-1988 ve 2016-2017 sezonlarında yaşadı. Bu sezonlarda Fenerbahçe, ilk 4 maçta birer galibiyet ve beraberlikle, iki yenilgi aldı.

Öte yandan Fenerbahçe, 1971-1972 sezonunun 4. haftasında oynanması gereken Galatasaray derbisinin ertelenmesi nedeniyle, bu sezonun ilk 4 maçında ikişer galibiyet ve mağlubiyetle sahadan ayrıldı. Fenerbahçe, 1 ay sonraya ertelenen derbi maçı 1-0 kaybetmişti.</p>

<p><b>3 SEZONDUR İYİ BAŞLAYAMIYOR</b><br/>

Fenerbahçe, son 3 sezonun ilk 4 haftalarında sadece birer galibiyet elde edebildi.

Son 3 sezonda kötü başlangıçlar yapan Fenerbahçe, 4. maçlar sonunda taraftarlarına sadece birer kez 3 puan sevinci yaşatabildi.</p>
</div>
</body>
</html>