<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">
<p style="color: red"><font size="6">Rıdvan Dilmen Fenerbahçe'nin transfer dönemini yorumladı: Mali başarıdır!</font></p>
<p>Fenerbahçe, transfer sezonunu 11 yeni isimle kapattı. Transfer bitiminin ardından Süper Lig'de Kayserispor karşısına çıkan sarı-lacivertliler, sahadan 3-2'lik yenilgiyle ayrıldı
Fenerbahçe-Kayserispor karşılaşması ardından değerlendirmelerde bulunan Rıdvan Dilmen, Fenerbahçe'de yapılan transferlerle oluşan yeni kadrosunu da değerlendirdi.</p><br/>
<div class="container">
<%= image_tag("resim/fenerkayseri.jpg", :size => "900x300") %><br/>
</div><br/>
<p>Fenerbahçe Teknik Direktörü Cocu'nun Kayserispor karşısında sahaya sürdüğü kadro hakkında konuşan Rıdvan Dilmen, "Bir teknik adam düşünün üç tane lisanslı santrforu var. Diyelim ki üçü de oynadı. Fakat aynı anda oyunda Ayew de varsa sol tarafsız oynuyorsan, doldur boşaltlarla oynarsın" dedi
enerbahçe'nin şampiyonluk yarışına girmesinin zor olduğunu ifade eden Rıdvan Dilmen, "Fenerbahçe toparlar, bu kadro çok kötü bir kadro değil." dedi.</p>
</div>
</body>
</html>