<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">
<p style="color: red"><font size="6">Rıdvan Dilmen: Bugün Ali Koç başkan olmasaydı...Rıdvan Dilmen: Bugün Ali Koç başkan olmasaydı...</font></p>
<p>Fenerbahçe, Kayserispor karşısında aldığı 3-2'lik yenilgiyle 4 maçtan sadece birini kazanabildi. NTV'de yayınlanan '%100 Futbol' programında konuşan Rıdvan Dilmen, karşılaşmanın ardından değerlendirmelerde bulundu.<br/>
<br/>
<%= image_tag("resim/alikoc.jpg", :size => "1000x400") %><br/><br/>

Fenerbahçe yönetiminin sabırlı olması gerektiğini ifade eden Rıdvan Dilmen, "Bugün Ali Koç başkan değil de Aziz Yıldırım başkan, Aykut Kocaman teknik direktör olmuş olsaydı Samandıra'da sıkıntı olurdu" dedi.
</p>
</div>
</body>
</html>