<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: 	#C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Serdar Ali Çelikler: Satır aralarını okuyun!</font></p>

<p>Spor Toto Süper Lig'in ilk 3 haftasında 3 puan toplayabilen ve transfer döneminin en hareketli kulübü olan Fenerbahçe, sezonun 4. haftasında evinde Kayserispor'a 3-2 mağlup oldu. Phillip Cocu yönetimindeki sarı-lacivertliler, ilk 4 haftada 3 yenilgi alarak 3 puanda kaldı ve 1971-72 sezonundan bu yana en kötü lig başlangıcını yaptı. Habertürk Yazarı Serdar Ali Çelikler, "Her eleştiriyi saldırı olarak değerlendirmeyecekseniz anlatayım" ifadeleri kullanarak Fenerbahçe - Kayserispor maçını değerlendirdi. Yapılması gerekenleri söyleyen Çelikler, Cocu'ya "Hayatında doldur boşalt oynatmış mı?" sorusunu yöneltti.<br/>

Bu şartlar altında, bu kadar yüksek oranda top kaybı ile baskı kurmanız imkansız oluyor. Buna karşın bulduğunuz pozisyonları da gole çeviremiyorsanız kazanamazsınız.  Fenerbahçe haftaya da kazanamaz. Sonraki hafta da... Çünkü Fenerbahçe futbol takımı yönetimi doğru işlemiyor.<br/>

<br/>
<%= image_tag("resim/f3.jpg", :size => "1000x400") %><br/>

<p>Geçen hafta Göztepe yenilgisinden sonraki yazımda bu cümleleri kullanmıştım.. Yazım 'olay' oldu.. Ali Koç'a yalakalık yapmak isteyenler; hayatında hiçbir fikri olmamış, başkasının söylediklerini eleştirmekten başka bir şey bilmeyen bir takım 'gazetecimsi'ler meseleyi başka noktalara çekmeye çalıştılar. Hepsi Comolli'ci - Cocu'cu kesildiler ve bu ikisini eleştirmek Ali Koç'a düşman olmakla eşdeğer tutulur oldu. Eleştirilerim ve uyarılarım sonucu harekete geçen Comolli ve futbol şubesi, bir haftada 5 tane oyuncu aldı. Bu yazım üzerine çok sevdiğim bir arkadaşımla bu maç için iddiaya girdik. 1907 Derneği üyesi bu sevgili arkadaşıma göre Fenerbahçe her şeyi doğru yapan bir anlayıştaydı ve Kayseri maçını kazanacaktı. Ben ise Fenerbahçe'nin kazanamayacağını söylüyordum. Çünkü Fenerbahçe futbol takımı iyi yönetilmiyor.  Herkes alınan oyuncuların yaşını ve maliyetini söylüyor. Ali Başkan da bu yöne vurgu yapıyor. Peki bu oyuncular kaliteli isimler mi? Bu soruyu kimse sormuyor.
Her eleştiriyi saldırı olarak değerlendirmeyeceklerse yapılması gerekenleri anlatacağım:<br/></p>

<p>1- En başta her eleştiriyi "satır aralarını okuyun" diyerekten düşmanlık olarak algılamaya ve algılatmaya çalışmaktan vazgeçin.<br/>

2- Cocu'ya sadece şu soruyu sorun: Hocam hayatında, futbolculuk ve teknik direktör ömrün boyunca herhangi bir takımında son 20 dakika doldur boşalt oyun oynadın mı oynattın mı? O zaman bu ne iştir? Bu soruya mantıklı bir cevabı yoksa ciddi bir uyarı yapın.<br/>

3- Dünyada hangi takım, iki stoper önünde Topal; onun yanında da Elmas; geri kalan herkes ileride gibi bir diziliş olabilir mi? Cevap belli: Olamaz.. O zaman Cocu'ya yeniden "Bu ne iştir" demek lazım. <br/>

4- Cocu bu iki soruya mantıklı cevap veremezse ki veremez; o zaman uyarıdan öte müdahale edilmesi lazım.
5- 3. golde hatalı olmasına hatalı ama Harun olmasa maç 5-6 olurdu bu takımın defans işleyişi sorunlu ise buraya özel bir çalışma yapılmalı.<br/>

6- Orta saha belli ki Topal - Yassine- Jailson olacak. Bu 3'lü önlerinde Valbuena - Ayew - Slimani ile yine yumuşak kalır mı?<br/>

7- Hala takımı set oyununa çıkaracak kimse yok. Benim önerim burada Ayew oynayabilir. Top çıkarır; kalçasını koyar faul alır. Ayağından zor top alınır. Eğer ikna edilebilirse yeni Emre Belözoğlu gibi oynayabilecek tek isim Ayew gibi duruyor. Bence 4-3-3 oynayacaksa 4'lü defans önünde oyun kurucu Ayew; sağında defansif Jailson, solunda Elmas (Topal) olabilir. Öndeki 3'lü de Slimani-Benzia ve Barış (Valbuena) gibi bir diziliş olabilir.<br/>

8- Muhakkak Türkiye'yi tanıyan bir hoca ekibe dahil olmak zorunda. Bunu uzun uzadıya anlatmaya gerek yok. Kesin ve kesin bir Türk teknik adam lazım bu ekibe.<br/>

9- Bir soru da Comolli'cilere.. Mensah gibi dripling ile oynayan bir orta alan oyuncusu var mı Fenerbahçe'nin?<br/>

<br/>

1971-72 sezonundan bu yana lige en kötü başlangıç ile 2009-10 sezonundan bu yana ilk kez 3 maç üst üste kaybeden bir Fenerbahçe var. Bu takımın şampiyonluk yarışında olması zorlaştı. Bu zamandan sonra gelişim görmeliyiz. Gelişim de göremezsek de bu hocanın geleceği de tartışılmalı..</p>
</div>
</body>
</html>