<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Galatasaray'dan olağanüstü genel kurul kararı!</font></p>
<p>Galatasaray Kulübü Yönetim Kurulu, bazı konularda yetki talep etmek amacıyla olağanüstü genel kurula gitme kararı aldı.<br/>
Galatasaray Kulübü Yönetim Kurulu, bazı konularda yetki talep etmek amacıyla olağanüstü genel kurula gitme kararı aldı.<br/>
<br/>
<%= image_tag("galatasaray/kurul.jpg", :size => "1000x400") %><br/><br/>

Sarı-kırmızılı kulüpten yapılan açıklamada, yönetim kurulunun, ilk olarak 22 Eylül Cumartesi günü, çoğunluk sağlanamaması durumunda ise 29 Eylül Cumartesi günü düzenlenmek üzere olağanüstü genel kurula gitme kararı aldığı belirtildi.<br/>

Haliç Kongre Merkezi’nde gerçekleştirilecek genel kurulda Mustafa Cengiz yönetimi, 2018 yılı hesap dönemi bütçe revizyonu, finansal işlemler, çoğunluk hissesi muhafaza edilmek kaydıyla şirket hisseleri üzerinde tasarrufta bulunma, gayrimenkul işlemleri, Kemerburgaz’da yapılacak yeni tesislerle ilgili işlemler ve yeni spor salonu inşası konularından genel kuruldan yetki talep edecek.<br/>

Genel kurulda üyelerden yetki istenecek konular arasında, Galatasaray Basketbol Anonim Şirketi ve Galatasaray Voleybol Anonim Şirketi’nin kurulmasının da olması dikkati çekti.
</p>
</div>
</body>
</html>


