<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Fatih Terim: Transfer ağızla yapılmıyor!</font></p>
<p>Galatasaray Teknik Direktörü Fatih Terim, farklı kaybedilen Trabzonspor maçı sonrası açıklamalarda bulundu.
Fatih Terim'in yaptığı açıklamalar şu şekilde:<br/>

Açıkçası savunulacak bir mağlubiyet değil. Trabzonspor'u tebrik ediyorum bizden daha iyi oynadılar. 3. dakikada geriye düştük, daha sonra 2. golü yedik sonra 10 kişi kaldık. Belhanda'nın bireysel performansının yanında her maç öncesi çok tembih etmemize rağmen, sorumsuz bir kırmızı kart görmesi bizi daha zor duruma düştü. 2-0 geriye düşsek altından kalkabiliriz ama 10 kişi kaldıktan sonra bir de 3. golü yiyince zor tabi. Anlatsın bize bakalım neler oldu biz de ona göre bakalım. İstikrar adına aynı kadroyla çıktık. Rodrigues 15-20 dakika ancak oynarım dedi. Badou'yu soktuk ama Trabzonspor'a karşı 10 kişi oynamak zor.<br/>
Şu an burada transfer konuşulacak bir ortam yok. Transfer dönemi bitmiş, geçmiş gitmiş. Galatasaray maça 11 kişi çıkıyorsa, eksik değildir. Bu maçtan sonraki konu bu değil!. Bir yerde takılacaktık, buraya kısmetmiş. Yarın bir gün Avrupa'ya çıkıp daha ağırını yaşamamak için çalışacağız. Buralardan dersler çıkaracağız. Ndaiye'yi aradık diyemem. Geçen hafta iyi bir 11 vardı. Onlara bir şans daha vermek istedim. Bunu hak ettiler. Doğrusu da buydu. Zaten Rodrigues de hazır değildi, Ndiaye de. Bugün mesele oyuncu meselesi değil. Olsa söylerdim merak etmeyin. Yaz sürecinde yetmeyen sürenin buralara kadar sarkması normal. Ama masa başından transfer yapılmıyor! Nasıl ki futbol elle değil ayakla oynanıyor. Transferler ağızla yapılmıyor. Yazıyla da yapılmıyor. Mesele burada.
</p>
</div>
</body>
</html>

