<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Ne yaptın Podolski!</font></p>
<br/>
<%= image_tag("galatasaray/gsic6.jpg", :size => "1000x400") %><br/><br/>
<p>Bir dönem Galatasaray forması da giyen Alman futbolcu Podolski rakip takım oyuncusuna yaptığı sert müdahale sonucu kırmızı kart gördü!<br/>
Japonya 1. Liginde Consadole Sapporo ile Vissel Kobe karşı karşıya geldi. Ev sahibi ekibin 3-1 kazandığı maçta Galatasaray'ın eski yıldızı Alman Lukas Podolski, yaptığı bu sert faulün ardından kırmızı kart görerek oyun dışı kaldı. Yıldız futbolcu kart gördükten sonra da sinirlerine hakim olamadı ve hakemin üzerine yürüdü!
</p>
</div>
</body>
</html>