<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Galatasaray'da Badou Ndiaye 222 gün sonra tekrar sahada!</font></p>
<p>Aylarca verilen uğraşlar sonrası Stoke City’den kiralanan Badou Ndiaye, tam 222 gün sonra tekrar Galatasaray'ın formasını giydi.<br/>

Aylarca verilen uğraşlar sonrası Stoke City’den kiralanan Badou Ndiaye, tam 222 gün sonra parçalı formayı giydi.<br/>

21 kişilik kadroda yer alan başarılı orta saha oyuncusu, ikinci yarıda Sinan Gümüş’ün yerine oyuna girdi. Ndiaye istekli bir görüntü sergilemesine rağmen skoru değiştirecek katkıyı sağlayamadı.<br/><br/>

<%= image_tag("galatasaray/gsbado.jpg", :size => "1000x400") %><br/><br/>

<b>Kazanan 11 sınıfta kaldı.</b><br/>

Alanyaspor’u geçtiğimiz hafta 6-0 mağlup eden Galatasaray’da teknik direktör Fatih Terim kazanan 11’i bozmadı.Sarı-Kırmızılılar, Trabzonspor deplasmanına aynı kadroyla çıktı. Ancak sonuç çok farklı oldu!<br/>

İlk yarıda üst üste yediği gollerle dağılan Cim Bom, 3 senedir Akyazı Medical Park Stadı’ndan mağlubiyetle ayrılıyor.<br/>

<b>Maicon ayakta bile duramadı!</b><br/>


Al Hilal’e transferi evraklar yetişmediği için suya düşen Maicon, Galatasaray formasıyla en kötü maçlarından birini oynadı.<br/>

Trabzon forvetleri karşısında ayakta durmakta bile zorlanan Brezilyalı savunmacı, pozisyonları sadece izlemekle yetindi.<br/>

Geçen sezon da Feghouli atıldı.<br/>

Trabzon deplasmanları Aslan’a yaramıyor. Dün akşam Belhanda’nın kırmızı kart görmesiyle 10 kişi kalan Cim Bom, geçen sezon da Feghouli ile Olcay arasındaki tartışma sonrasında da Cezayirli yıldızını 3 maçlığına kaybetmişti.
</p>
</div>
</body>
</html>