<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #FAEBD7;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Galatasaray’ın "hırçın" futbolcusu Younes Belhanda!</font></p>
<p>Galatasaray’ın Spor Toto Süper Lig’de Trabzonspor’a 4-0 yenildiği karşılaşmada gördüğü kırmızı kartla takımını sahada eksik bırakan Younes Belhanda, hırçın kişiliğiyle dikkati çekiyor.
Galatasaray’ın Spor Toto Süper Lig’de Trabzonspor’a 4-0 yenildiği karşılaşmada gördüğü kırmızı kartla takımını sahada eksik bırakan Younes Belhanda, hırçın kişiliğiyle dikkati çekiyor.<br/>


Sarı-kırmızılı ekibin geçen sezonun başında Ukrayna ekibi Dinamo Kiev’den 8 milyon avro bonservis bedeliyle 4 yıllığına kadrosuna kattığı ve her bir yıl için 3 milyon 350 bin avro garanti ücret ödediği Faslı futbolcu, Süper Lig kariyerinde üçüncü kez oyundan ihraç edildi.<br/>

<%= image_tag("galatasaray/gsiii6.jpg", :size => "1000x400") %><br/>

Younes Belhanda, sarı-kırmızılı forma altında Süper Lig’de çıktığı 34 karşılaşmada 3 kırmızı, 7 sarı kart gördü.<br/>

Ligde geçen sezon Fenerbahçe ve Antalyaspor müsabakalarında kırmızı kartla oyundan atılan Faslı futbolcu, bu sezon ise dördüncü haftadaki Trabzonspor maçında doğrudan kırmızı kart görerek takımını eksik bıraktı. <br/>

Belhanda’ya ayrıca geçen sezon 6, bu sezon da bir kez sarı kart gösterildi.<br/>

<b>Geçen sezon 3 maç kaçırdı</b><br/>

Younes Belhanda, gördüğü kartlar nedeniyle geçen sezon 3 karşılaşmada cezalı duruma düştü.<br/>

Faslı futbolcu, geride kalan sezon deplasmandaki Trabzonspor ve Kasımpaşa maçlarında kırmızı kart, yine dış sahadaki Akhisarspor müsabakasında ise sarı kart cezası nedeniyle forma giyemedi.<br/>

Belhanda, bu sezon da Trabzonspor maçında doğrudan gördüğü kırmızı kart sonrası en az 2 maç ceza alacak.<br/>

<b>Kariyerindeki 10. kırmızı kart</b><br/>

Younes Belhanda, daha önce forma giydiği takımlarda da agresif bir mücadele sergiledi.<br/>

Belhanda, profesyonel kariyerindeki 10’uncu kırmızı kartı Trabzonspor maçında gördü.<br/>

Faslı futbolcu, Montpellier’de 5, Galatasaray’da 3, Nice ve Dinamo Kiev’de ise 1’er kez kırmızı kartla oyundan ihraç edildi.<br/>

<b>Sadece 3 gol attı.</b><br/>

Galatasaray’ın orta alanında görev yapan Younes Belhanda, çıktığı 34 lig maçında sadece 3 gol attı.<br/>

Sarı-kırmızılı takımdaki performansıyla beklentilerin altında kalan Belhanda, geçen sezonun ilk devresindeki Kayserispor ve Akhisarspor ile ikinci yarıdaki Evkur Yeni Malatyaspor müsabakalarında birer kez ağları havalandırdı.<br/>

Belhanda, bu sezon ise çıktığı 4 maçta da skor üretemedi.<br/>
</p>
</div>
</body>
</html>