<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Flaş yorum: Fatih Terim intihar etti! (Trabzonspor-Galatasaray)</font></p>
<p>Galatasaray, Trabzonspor'a 4-0 mağlup oldu... Süper Lig'de 3'de 3 yapan Galatasaray, 4. haftada Trabzonspor'a konuk oldu.Sarı-kırmızılılar sahadan 4-0 mağlup ayrıldı.<br/><br/>

	<%= image_tag("galatasaray/resim1.jpg", :size => "1000x400") %><br/><br/>

Galatasaray-Trabzonspor maçının ardından NTV'de yayınlanan '%100 Futbol' programında konuşan Rıdvan Dilmen, yine çok konuşulacak bir yoruma imza attı.<br/>

Galatasaray Teknik Direktörü Fatih Terim'in oyun sistemi hakkında konuşan Rıdvan Dilmen, Galatasaray'ın geçen hafta Alanyaspor ile oynadığı ve 6-0 kazandığı maça değindi.<br/>

Rıdvan Dilmen, "Fatih Terim geçen hafta sahaya çıkardığı 11'i bozmayarak intihar etti" ifadelerini kullandı"<br/>

Rıdvan Dilmen
Galatasaray
Trabzonspor
Süper Lig
Futbol
</p>
</div>
</body>
</html>
