<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Trabzonspor - Galatasaray maçının ardından tartışma! Fatih Terim ve Hasan Şaş çıldırdı!</font></p>
<p>Trabzonspor, seyircisi önünde konuk ettiği Galatasaray'ı 4-0 yenerek rakibine bu sezon ilk yenilgisini yaşattı. Maçın ardından Hasan Şaş çıldırdı ve Trabzonsporlu taraftarlar ile tartıştı. Fatih Terim'i ise Trabzonspor teknik direktörü Ünal Karaman sakinleştirdi. (Fotoğraflar: Serkan Hacıoğlu-Saycan Sayım)
Spor Toto Süper Lig'in 4. haftasında Trabzonspor sahasında haftaya lider olarak giren Galatasaray'ı ilk yarıda bulduğu gollerle 4-0 mağlup etmeyi başardı.<br/>
Sezona 3'te 3 ile başlayan Galatasaray bu sezon ilk mağlubiyetini aldı.<br/>
Medical Park Stadyumu'nda oynanan mücadelede ev sahibi Trabzonspor'a farklı galibiyeti getiren golleri 3. dakikada Onazi, 25. ve 45+3. dakikalarda Nwakaeme ve 90+3. dakikada Ekuban kaydetti.<br/>


Galatasaray'ın Faslı oyuncusu Belhanda, 30. dakikada Yusuf Yazıcı'ya yaptığı sert faul sonrasında doğrudan kırmızı kart görerek oyundan atıldı. <br/>
u sonucun ardından Trabzonspor puanını 7'ye yükseltirken, Galatasaray 9 puanda kaldı.
</p>
</div>
</body>
</html>