<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">UEFA resmen açıkladı! İşte yeni sıralama</font>
<p>Partizan'ı eleyerek adını UEFA Avrupa Ligi gruplarına yazdıran Beşiktaş,Şampiyonlar Ligi'ne direk katılan Galatasaray ve Benfica'ya elenerek UEFA Avrupa Ligi gruplarına katılan Fenerbahçe'nin sıralaması belli oldu.
Partizan'ı eleyerek adını UEFA Avrupa Ligi gruplarına yazdıran Beşiktaş,Şampiyonlar Ligi'ne direk katılan Galatasaray ve Benfica'ya elenerek UEFA Avrupa Ligi gruplarına katılan Fenerbahçe'nin sıralaması belli oldu.</p>
</p>
</div>
</body>
</html>