<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Galatasaray yorumu: Bir daha bu 11'i görmeyeceksiniz!</font></p>
<p>Galatasaray, Trabzonspor deplasmanından çıkamadı. Sarı-kırmızılılar Süper Lig'in 4. haftasında Trabzonspor'a konuk oldu. Trabzonspor, Galatasaray'ı 4-0'lık skorla mağlup etti.
Galatasaray, 30. dakikada 10 kişi kaldığı Trabzonspor deplasmanından 4-0 mağlup ayrıldı. Trabzonspor'un gollerini 3'de Onazi, 25, 45+3'de Nwakaeme ve 90+3'de Ekuban'ın attı. Galatasaray, karşılaşmanın 30. dakikasında Belhanda'nın direkt kırmızı kart görmesi sonucu sahada 10 kişi kaldı.<br/>

NTV'de yayınlanan %100 Futbol programında konuşan Rıdvan Dilmen, Trabzonspor-Galatasaray maçını değerlendirdi.<br/>

Galatasaray Teknik Direktörü Fatih Terim'in ilk 11 tercihi hakkında konuşan Rıdvan Dilmen, "Galatasaray'ın 40'dan fazla maçı var. Son iki maça bu 11 ile çıktı. İddia ediyorum bir daha bu 11 ile görmeyeceksiniz" dedi.
</p>
</div>
</body>
</html>