<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Esra Erden Atacan, 1 yıl daha Beşiktaş’ta!</font></p>
<p>Beşiktaş Kadın Basketbol Takımı, 34 yaşındaki Esra Erden Atacan’ın sözleşmesini yeniledi.<br/>
Beşiktaş Kadın Basketbol Takımı, 34 yaşındaki Esra Erden Atacan’ın sözleşmesini yeniledi.
Siyah-beyazlı kulüpten yapılan açıklamada, oyun kurucu Esra Erden Atacan’ın sözleşmesinin 1 yıl uzatıldığı belirtildi.<br/>
Tecrübeli oyuncu, geride kalan sezon Türkiye Kadınlar Basketbol Süper Ligi’nde 21 karşılaşmada, 6 sayı, 2,2 ribaund ve 1,4 asist ortalamalarıyla mücadele etti.<br/>
</p></div></body></html>
