<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Potada Kadın Millilerin Rakibi Çin!</font></p>
<p>A Milli Kadın Basketbol Takımı, 2018 FIBA Dünya Kupası hazırlıkları kapsamında yarın İstanbul'da Çin ile karşı karşıya gelecek.<br/><br/>
<br/>Sinan Erdem Spor Salonu'nda oynanacak karşılaşma saat 19.00'da  başlayacak.<br/>
<br/>
İspanya'nın Tenerife kentinde 22-30 Eylül tarihlerinde düzenlenecek  2018 FIBA Dünya Kupası'nda yer alacak milli takım, kamp çalışmaları için gittiği  Çekya'da katıldığı hazırlık turnuvasında 3 karşılaşma oynadı.<br/>

İlk maçında Çin'e 71-54 mağlup olan ay-yıldızlılar, ikinci müsabakada  da Çekya'ya 76-60 yenildi. Milliler, buradaki son hazırlık karşılaşmasında  Romanya'yı 76-71 mağlup etti.<br/>

Milliler, İspanya'daki şampiyonada B Grubu'nda Arjantin, Avustralya ve  Nijerya ile tur mücadelesi verecek. Gruplarında ilk sırayı alan ekipler, doğrudan  çeyrek finale yükselecek. Çeyrek finale çıkan diğer ekipler ise dört grupta  ikinci ve üçüncü sırada yer alan takımlar arasındaki çapraz eşleşmelerin ardından  belli olacak.<br/>

Bu arada, başantrenör Ekrem Memnun yönetimindeki ay-yıldızlı ekip,  kamp ve ikili temas müsabakaları yapmak üzere 2 Temmuz Pazartesi günü Kanada'ya  gidecek.<br/>

Kaynak: Skorer
</p>
</div>
</body>
</html>