<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">David West, basketbolu bıraktı!</font></p>
<p>NBA'de son olarak Golden State Warriors forması giyen 38 yaşındaki David West, 15 yıllık profesyonel oyunculuk kariyerini noktaladığını açıkladı.<br/><br/><br/>

NBA'de son olarak Golden State Warriors forması giyen David West basketbolu bıraktığını açıkladı. <br/><br/>

NBA'de geçirdiği 15 sezonda New Orleans Hornets, Indiana Pacers, San Antonio Spurs ve Golden State Warriors formaları giyen West, Warriors formasıyla geçirdiği son iki sezonda şampiyonluk yaşamayı başardı. <br/>

2008, 2009 yıllarında New Orleans Hornets forması giydiği dönemde de David West, All-star olmayı başarmıştı. 
</p>
</div>
</body>
</html>