<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Milli Okçu Mete Gazoz, Avrupa Şampiyonu Oldu</font></p>
<p>Bulgaristan'da düzenlenen Avrupa Grand Prix müsabakalarında milli okçu Mete Gazoz, şampiyon olarak altın madalya kazandı.<br/>
Bulgaristan'da düzenlenen Avrupa Grand Prix müsabakalarında klasik yay erkeklerde mücadele eden Mete Gazoz altın madalya kazandı.<br/>

Türkiye Okçuluk Federasyonu'ndan yapılan açıklamada, Bulgaristan'ın başkenti Sofya'da düzenlenen müsabakalarda Mete Gazoz, final bölümünde rakibi Moldovalı Dan Olaru'yu 6-0'lık skorla mağlup ederek birinci oldu ve altın madalyayı kazandı.<br/>
<br/>
<b>KLASİK YAY KARIŞIK TAKIMI GÜMÜŞ MADALYA KAZANDI</b><br/>
<br/>
Mete Gazoz ve Gülnaz Büşranur Çoşkun'dan oluşan klasik yay karışık takımı ise finalde Rusya'ya 6-2 mağlup oldu ve gümüş madalya kazandı.<br/>

Öte yandan Türkiye müsabakaları 3 altın, 2 gümüş ve 2 bronz madalyayla tamamladı.
</p>
</div>
</body>
</html>