<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Fenerbahçe, Lakers Forması Giyen Tyler Ennis'i Kadrosuna Kattı.</font></p>
<p>Fenerbahçe, NBA ekiplerinden Los Angeles Lakers'ta forma giyen Tyler Ennis'i kadrosuna kattı.<br/><br/>
Fenerbahçe, son sezonu Los Angeles Lakers'ta geçiren ABD'li oyun kurucu Tyler Ennis'i kadrosuna kattı.<br/>

Fenerbahçe'den yapılan açıklama şöyle;<br/>

"Fenerbahçe Erkek Basketbol Takımımız, son olarak NBA takımlarından Los Angeles Lakers forması giyen Kanadalı oyun kurucu Tyler Ennis ile 1+1 yıllık sözleşme için anlaşmaya vardı.
<br/>
Yeni sezon hazırlıkları kapsamında çalışmalarını sürdüren Fenerbahçe Erkek Basketbol Takımımız, kadrosunu Los Angeles Lakers'ın başarılı oyun kurucusu Tyler Ennis ile güçlendirdi.<br/>
<br/>
<b>1,91 BOYUNDA, OYUN KURUCU OYNUYOR</b><br/>
<br/>
1.91 boyunda olan ve oyun kurucu pozisyonunda forma giyen başarılı oyuncu, yeni sezondan itibaren Fenerbahçe'nin başarısı için mücadele edecek.
<br/>
Oyuncumuza Fenerbahçe'ye hoş geldin diyor, yarıştığı her kulvarda şampiyonluk hedefleyen Fenerbahçe Erkek Basketbol Takımımızda başarılar diliyoruz."
</p>
</div>
</body>
</html>