<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Fenerbahçe Erkek Voleybol Takımı'ndan 3 Takviye!</font></p>
<p>Fenerbahçe Erkek Voleybol Takımı, Kevin Klinkenberg, Wouter Ter Maat ve Konstantin Cupkovic’i renklerine bağladı.
Fenerbahçe Erkek Voleybol Takımı, Kevin Klinkenberg, Wouter Ter Maat ve Konstantin Cupkovic'i renklerine bağladı.<br/>

Fenerbahçe Erkek Voleybol Takımı, yeni sezon transfer çalışmalarını sürdürüyor. Sarı-lacivertliler bu kapsamda üç isimle anlaştı. Kulübün resmi internet sitesinden yapılan açıklamada, Hırvat Konstantin Cupkovic, Hollandalı Wouter Ter Maat ve Belçikalı Kevin Klinkenberg ile anlaştıkları belirtildi. Cupkovic son olarak Tours Volley-Ball'da, Klinkenberg, Revivre Milano'da ve Ter Maat da Paris Volley'de oynuyordu. - İSTANBUL
</p>
</div>
</body>
</html>