<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Beşiktaşlı Mustafa Pektemek, 9 Takımdan Gelen Transfer Teklifini Reddetti!</font></p>
<p>Beşiktaş'ta bu sezon yönetimin kulüp aradığı Mustafa Pektemek, kendisini isteyen 9 takımın teklifini reddetti ve kulüpte kaldı.<br/>
Beşiktaş'tan ayrılmak istemeyen Mustafa Pektemek, 1,7 milyon euroluk maaşının büyük bölümünden indirime gitti. 30 yaşındaki forvet, Siyah-beyazlı kulüpte kalmak için 9 takımdan gelen teklifi geri çevirdi.<br/>

Daha önce forvete takviye yapmayı planlayan yönetim, Mustafa'nın isteğini de dikkate aldıktan sonra bu bölgeye harcanacak parayı on numara transferine ayırdı.<br/>
<br/>
<b>MUSTAFA PEKTEMEK TAKIMDA KALDI</b><br/>
<br/>
Mustafa Pektemek kalitesinde Süper Ligden yerli statüsündeki bir oyuncuyu transfer etmek oldukça maliyetli. Şenol Hoca da, Mustafa'nın bu sezon yakaladığı enerjiden oldukça memnun. Ligde ve Avrupa'da uzun bir maratona çıkan Siyah-Beyazlılar, Mustafa gibi joker bir oyuncuyu kadroda tutmayı akıllıca buldu.<br/>
<br/>
<b>MUKAVELESİ 1 YIL DAHA UZATILDI</b>
<br/><br/>
30 yaşındaki hücum oyuncusunun, mukavelesi bu sezon Haziran ayında sona eriyor. Yeni yapılacak mukavele ile süre 2020'ye uzayacak. Mustafa'nın yıllık kazancı ise 1 milyon euronun altında olacak. Beşiktaş kariyerinde Süper Lig, Avrupa ve Türkiye Kupası da dahil olmak üzere 133 karşılaşmaya çıkan Mustafa, 25 gol ve 11 asistle oynadı. Mustafa bu karşılaşmaların çoğunda hocaları tarafından sağ ve ikinci forvet olarak tercih edildi.
</p>
</div>
</body>
</html>