<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Antalyaspor, Son Dakika Golüyle Çaykur Rizespor'u 2-1 Yendi!</font></p>
<p>Spor Toto Süper Ligde Antalyaspor 1-0 geriye düştüğü maçta Çaykur Rizespor karşısında 90+6'da bulduğu golle muhteşem bir geri dönüşe imza attı ve sahadan 2-1 galip ayrıldı.
Spor Toto Süper Ligin 4. haftasında Antalyaspor ile Çaykur Rizespor karşı karşıya geldi. Antalya Stadyumu'nda oynanan mücadeleyi Antalyaspor 2-1 kazandı.<br/><br/><br/>

Çaykur Rizespor'a galibiyeti getiren golü 40. dakikada penaltıdan Marwane Saadene attı.<br/><br/>

Antalyaspor'da Souleyman Doukara, VAR onayıyla birlikte 65. dakikada kırmızı kart gördü.<br/>

<b>VAR TESPİTİ SONUCU PENALTI KARARI VERİLDİ</b><br/><br/>

Antalyaspor, 90+1. dakikada Mevlüt Erdinç'in attığı golle eşitliği sağladı. 90+5. dakikada Antalyaspor, Diego Angelo'ya Koray Altınay'ın yaptığı faul ile penaltı kazandı. Hakem Ali Palabıyık VAR'a baktı hem penaltı kararını hem de Koray Altınay'a ikinci sarıdan verdiği kırmızı kart kararını onayladı.<br/>

<b>HAKAN ÖZMERT, PENALTIYI GOLE ÇEVİRDİ</b><br/>

Antalyaspor, 90+6. dakikada Hakan Özmert, beyaz noktadan topu ağlara gönderdi ve ev sahibi 10 kişiyle geri dönüp kazandı.

Bu sonucun ardından Antalyaspor 7 puana yükselirken, Rizespor 2 puanda kaldı. Antalyaspor, milli aranın ardından Başakşehir'e konuk olacak. Rizespor ise sahasında Bursaspor'u ağırlayacak.
</p>
</div>
</body>
</html>