<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Barcelona, Huesca'yı 8-2 Mağlup Etti!</font></p>
<p>La Liganın 3. haftasında Huesca karşısında 1-0 geriye düşen Barcelona maçı 8-2 kazanarak gülen taraf oldu.
İspanya La Liga'nın 3. haftasında Barcelona ile Huesca, karşı karşıya geldi. Estadio Camp Nou'da oynanan mücadeleyi ev sahibi Barcelona, 8-2'lik skorla kazandı.<br/>

Huesca, 3. dakikada Cucho Hernandez ile öne geçti. Barcelona, 16. dakikada Lionel Messi'nin harika golüyle eşitliği yakaladı. Jorge Pulido, 24. dakikada kendi kalesine attığı golle Barça'yı öne geçirdi. Luis Suarez, 39. dakikada farkı 2'ye çıkardı. İlk yarının sonunda Alex Gallar, Huesca adına farkı 1'e indirdi.<br/>

<b>BARCELONA İKİNCİ YARIYA MÜTHİŞ BAŞLADI</b><br/>

Barcelona, ikinci yarıya rüzgar gibi başladı. Ousmane Dembele, 48. dakikada skoru 4-2'ye getirdi. Rakitic, 52. dakikada 5-2 yaptı. Messi, 61. dakikada farkı 4'e çıkardı. 81'de Jordi Alba ve 90'da Luis Suarez'in penaltı golleri tarihi skoru oluşturdu.<br/>
<b>MİLLİ OYUNCUMUZ SERDAR GÜRLER 58. DAKİKADA OYUNA DAHİL OLDU</b>

Huesca'da forma giyen Serdar Gürler, 58. dakikada Samuele Longo'nun yerine oyuna dahil oldu.<br/>

Barcelona, bu galibiyetle birlikte puanını 9'a çıkardı. Huesca ise ilk mağlubiyetini aldı ve 4 puanda kaldı. Barcelona, milli aradan sonra Real Sociedad'a konuk olacak. Huesca ise sahasında Vallecano'yu ağırlayacak.
</p>
</div>
</body>
</html>