<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Ajdin Penava, Baskonia'da!</font></p>
<p>Turkish Airlines EuroLeague ekiplerinden Baskonia, Boşnak oyuncu Ajdin Penava'yı kadrosuna kattı.
Turkish Airlines EuroLeague'deki İspanyol temsilcilerinden Baskonia, Boşnak oyuncu Ajdin Penava'yı kadrosuna kattı.<br/> 

Marshall Üniversitesi'nde 3 yıl geçiren Penava, son yılında 34 maça çıkarken 15.6 sayı, 8.5 ribaunt, 4.9 blok ortalamaları yakalamıştı. <br/>

İspanyol ekibi, 21 yaşındaki oyuncuyla 4 senelik sözleşme imzaladı. 
</p>
</div>
</body>
</html>