<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">FIBA Dünya Basketbol Zirvesi ilk kez Çin’de düzenleniyor.</font></p>
<p>Dünya Basketbol Zirvesi’nin konuşmacı listesi ve programı FIBA tarafından açıklandı.
Bu yıl ilk kez 3-4 Ekim 2018 tarihlerinde Çin’in Xi’an kentinde gerçekleşeceği açıklanan Uluslararası Basketbol Federasyonu (FIBA) Dünya Basketbol Zirvesi’nin konuşmacı listesi ve programı FIBA tarafından açıklandı.
Basketbolun geleceğini planlamak ve dünya basketbolunun en önemli paydaşlarını bir araya getirmek amacıyla düzenlenecek ilk FIBA Dünya Basketbol Zirvesi’nde; basketbol, spor ve medya dünyasından önemli ve güçlü konuşmacılar yer alacak. NBA’den Komisyoner Adam Silver ile NBA Komisyoner Yardımcısı ve FIBA İcra Kurulu Üyesi Mark Tatum’ında konuşmacıların arasında yer alacağı zirvede FIBA’yı FIBA Genel Sekreteri ve Uluslararası Olimpiyat Komitesi (IOC) Üyesi Patrick Baumann temsil edecek. FIBA'yı oluşturan ulusal federasyonların temsilcilerinin yanı sıra, zirvede ligler ve kulüpler, oyuncu dernekleri, eğitim kurumları, medya ve teknoloji şirketleri ile sporla güçlü ve karşılıklı olarak karlı ilişkiler yaratan markaların çalışanları da yer alacak.<br/>
<br/>
<b>"Basketbol Zirvesi, bizim sporumuz için çığır açan bir etkinlik"</b>
Patrick Baumann zirve hakkında, "FIBA Dünya Basketbol Zirvesi, bizim sporumuz için çığır açan bir etkinlik ve ben de bu zirveye katılmaya karar vermiş konuşmacıların kalitesinden ve deneyimlerini paylaşacak olmaktan çok memnunum. En önemli paydaşlarımızı bir araya getirerek, iki gün sürecek önemli konulardaki bilgi verecek tartışmalarla, katılacak herkesi basketbolun geleceğini oluşturmada bir rol oynamak için gereken iç görü ve bilgi ile donatmayı amaçlıyoruz” diye konuştu.<br/>
<br/>
1. Gün (3 Ekim)
- Patrick Baumann (FIBA Genel Sekreteri ve IOC Üyesi)-Basketbolun küresel büyümesini hızlandırmada Ulusal Federasyonlar ve FIBA'nın oynadığı rolü anlatan açılış konuşması
- Craig Zanon (Nike Küresel Basketbol Başkanı) -Marka oluşturma ve bağlılığında itici güç olarak ortaklık kurmanın kazançları
- Mark Tatum (NBA KomisyonerYardımcısı ve FIBA İcra Kurulu Üyesi) -Kulüp ve liglerin ilkeleri
- Casey Wasserman (Wasserman Medya Grubu Kurucusu ve CEO’su) - Hızlıdeğişen spor ve eğlence dünyasında basketbol için fırsatlar<br/>
2. Gün (4 Ekim)
- Adam Silver (NBA Komisyoneri) ve Patrick Baumann-Soru ve cevaplarla interaktif röportaj
- Caitlyn Chen (Tencent Başkan Yardımcısı) -Taraftarlarla etkileşimde dijital medyanın gücü
- Rae Lin D'Allie (FIBA 3x3 Sporcusu) - 3x3 sporuna oyuncunun bakış açısı ve basketbolun geleceğindeki rolü
- Philippe Blatter (Infront Spor ve Medya CEO’su - Wanda Başkan Yardımcısı) - Dünya sporunda büyük bir güç olarak çıkışını sürdüren Çin'e ve ülkenin FIBA Basketbol Dünya Kupası'na ev sahipliği yapacak olmasına bakış
İHA
</p>
</div>
</body>
</html>