<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <style>
    	body{
    		background-color: #C0C0C0;
    	}
    	
    </style>


  </head>

<body>
<div class="container">


<p style="color: red"><font size="6">Beşiktaş Başkanı Fikret Orman: Love'u Neden Bedava Verelim?</font></p>
<p>Vagner Love için Galatasaray'dan 1,5 milyon euro bonservis talep eden Beşiktaş Başkanı Fikret Orman konuyla ilgili "Love'u para verip aldık. Neden bedava verelim?" ifadelerini kullandı.<br/>
Beşiktaş Başkanı Fikret Orman, Galatasaray'a transferi son anda suya düşen Brezilyalı golcü Love için net konuştu.<br/>

Adem Ljajic'in transfer edilmesinden sonra Beşiktaş'ın artık çok daha güçlü bir takım olduğunu yakın çevresine söyleyen Fikret Orman şu ifadeleri kullandı:<br/>
<br/>
<b>"HOCAMIZIN İSTEDİĞİ OYUNCUYU BULDUK"</b><br/>
<br/>
Onun gelişiyle birlikte hem forvetteki hem de orta sahadaki futbolcular daha çok katkı sağlayacaktır. Bizim en önemli sorunumuz ofansif orta saha oyuncusuydu. Çok uygun rakamlara hocamızın istediği bir futbolcu bulduk.<br/>
<br/>
<b>"NEDEN BEDAVA VERELİM"</b><br/>
<br/>
Vagner Love'u para verip aldık. Neden bedava verelim ? Burak Yılmaz transferi de bize çok maliyetli olacaktı. Forvet sıkıntımız yok. Bu saatten sonra camiaya düşen görev kadromuzdaki oyunculara destek vermektir. Biz bu çocuklarla ve bu teknik heyetle şampiyon olacağız. Kadro açısından bir sıkıntımız olursa devre arasında gereken takviyeyi yaparız.
</p>
</div>
</body>
</html>